<!DOCTYPE html>
<head>
  <title>Edit Post</title>
</head>
<body>
<h1>Edit Post</h1>

<%= form_for @post do |f| %>
  <div>
   <%= f.label :title %>
   <%= f.text_field :title %>
 </div>
 <div>
   <%= f.label :body %>
   <%= f.text_area :body %>
 </div>

 <%= f.submit "Edit Post"%>
<% end %>
</body>
